<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div id="login-box">
  <div class="logo">
    <img src="/images/biohazard.png" class="img img-responsive img-circle center-block" width="150" />
    <h1 class="logo-caption"><span class="tweak">L</span>ogin</h1>
  </div><!-- /.logo -->
  <div class="controls">
    <%= f.email_field :email, autofocus: true, placeholder: "Username", class: 'form-control' %>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: 'form-control' %>
    <%= f.submit "Login", class: 'btn btn-default btn-block btn-custom' %>
    <div><%= render "devise/shared/links" %></div>
  </div><!-- /.controls -->
</div><!-- /#login-box -->
<div id="particles-js"></div>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>-->
<% end %>